@media only screen and (max-width: 600px) {
    .containerr {
        width: 100vw;
        height: 100vh;
        background-color: lightgrey;
    }
    .sections {
        height: 100px;
        width: 100vw;
        margin: 10px;
    }
    .shopping-cart-imaget {
        width: 50px;
    }
    .product-plus, .product-minus, .product-count {
        padding: 4px;
        width: 25px;    
    }
    .product-count {
        width: 50px;
        margin: 0px 5px;
    }
    h4 span, h4 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    .case-size {
        width: 88px;
    }
    .monitor-size {
        width: 63px;
    }
    .mouse-size {
        width: 46px;
    }
    .keyboard-size {
        width: 74px;
    }
    .dna {
        display: none;
    }
    h5 {
        font-size: 1rem;
    }
    
}